/Dish-Service/nbproject/
/Dish-Service/target/
/Micro-Service-Dish/nbproject/
/Micro-Service-Dish/target/
/Micro-Service-User/nbproject/
/Micro-Service-User/target/
/Micro-Service-Restaurant/nbproject/
/Micro-Service-Restaurant/target/
/Micro-Service-Menu/nbproject/
/Micro-Service-Menu/target/
/Client-Rest/target/
/OnlineRestaurant-Commons/target/
/Commons/target/
/Client-Rest/nbproject/
/Micro-Service-Delivery/target/
/Micro-Service-Delivery/nbproject/